/* Main Content Start */
.main-content{
    padding-top: 30px;
    padding-left: 170px;
}

.main-content .main-title{
    padding-bottom: 30px;
    font-weight: 500;
}

.main-content .report-date{
    position: absolute;
    top: 10px;
    right: 50px;
    font-weight: 500;
}
/* Main Content End */